

.feedback__title {
    margin-top: 91px;
    margin-left: 37px;
}

.feedback__cloud {
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    position: absolute;
    width: 791px;
    height: 451px;
    margin-top: 72px;
    margin-left: 41px;
    padding-top: 40px;
    padding-left: 25px;
    padding-right: 35px;
}

.cloud__text {
    line-height: 150%;
    margin-left: 20px ;
}

.cloud__ekaterina{
    display: flex;
    margin-top: 33px;
}

.cloud__right{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-top: 35px;
}
.cloud__name{
    font-family: 'Roboto Slab', sans-serif;
    font-size: 30px;
    font-weight: 700;
}

.cloud__facebook{
    height: 30px;
    width: 30px;
    margin-top: 25px;
}

@media screen and (max-width: 1280px) {

    .content {
        padding-left: 30px;
        padding-right: 30px;
        width: 100%;
    }

    body {
        font-size: 12px;
    }

    h1 {
        font-size: 46px;
    }

    h2 {
        font-size: 32px;
    }

}

@media screen and (max-width: 834px) {

    .content {
        padding-left: 60px;
        padding-right: 60px;
        width: 100%;
    }

    body {
        font-size: 10px;
    }

    h1 {
        font-size: 37px;
    }

    h2 {
        font-size: 26px;
    }
}