.format {
    margin-top: 160px;
}

.format__list {
    list-style-type: none;
}

.format__info-paragraph {
    font-size: 25px;
    line-height: 130%;
    color: #1E4681;
}

.format__box {
    margin-top: 124px;
}

.format__list {
    display: flex;
    justify-content: space-between;
    padding-right: 200px;
    height: 140px;
}

.format__info {
    width: 300px;
    height: 50px;
    display: block;
}

.format__info-text {
    display: block;
    width: 300px;
    height: 100px;
    /* padding-top: 20px; */
}

.learn {
    margin-top: 120px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 200px;
}

.learn__list {
    padding-top: 54px;
    padding-left: 15px;
    font-size: 24px;
    width: 662px;
    height: 374px;
}

.learn__list-item {
    font-size: 24px;
    line-height: 150%;
}

.learn__img {
    display: block;
    height: 500px;
    /* padding: 60px; */
    /* padding-left: 68px; */
    /* position: relative; */
}

.learn__img-people {
    display: block;
    padding-bottom: 150px;
    /* position: relative; */
    bottom: 64px;
    right: 20px;
}

.learn__img-dinozavr {
    display: block;
    /* position: relative; */
    bottom: 12px;
    padding-right: 50px;
}