
.preview__list {
    list-style-type: none;
    display: flex;
    margin-bottom: 20px;
}

.preview__item {
    margin-right: 40px;
}

.preview__img {
    width: 22px;
    height: 22px;
}

.preview {
    padding-top: 92px;
    /* position: relative; */
}

.preview__paragraph {
    display: flex;
    height: 400px;
}

.paragraph {
    width: 600px;
    height: 190px;
    display: block;
}

.paragraph p {
    width: 414px;
    height: 62px;
    line-height: 150%;
    padding-top: 35px;
}

.preview__paragraph-img {
    width: 640px;
    padding-left: 170px;
    /* position: relative; */
    padding-bottom: 46px;
    padding-right: 96px;
    display: block;
}

.preview__paragraph-img2 {
    margin: auto;
    display: block;
    width: 496px;
    height: 234px;
    /* position: relative; */
    /* padding-right: 66px; */
    top: 44px;
    margin-top: 20px;
    margin-right: 420px;
}



.well {
    margin-top: 156px;
}

.info_text {
    font-size: 24px;
    line-height: 150%;
    padding-right: 18px;
    width: 680px;
    height: 374px;
}
.info {
    margin: 0 320px 0 120px;
    padding-bottom: 150px;
    justify-content: space-between;
    align-items: center;
}

.box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 94px;
    margin-top: 56px;
    position: relative;
}
.info {
    display: flex;
}
.list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 188px;
}


.list_item {
    list-style-type: none;
    line-height: 130%;
    width: 150px;
}

.list_item-text {
    padding-top: 8px;
}

.text {
    padding-bottom: 35px;
}
.list_item_one {
    margin-left: 120px;
    padding-top: 8px;
}
.list_text {
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 10px;
}
.list_par {
    font-size: 18px;
    display: block;
}

@media screen and (max-width: 1280px) {
    .content {
        padding-left: 30px;
        padding-right: 30px;
        width: 100%;
    }
    
}

@media screen and (max-width: 834px) {

    
}
